h1 {
    text-align: center;
}

label {
    display: none;
}

table, td {
    border: 1px solid #cccccc;
}

td {
    width: 20px;
    height: 20px;
}

#result-sign {
    margin-top: 20px;
}

.canvas-2 {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.canvas-3 {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}

.canvas-4 {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}