h1 {
    text-align: center;
}

label {
    display: none;
}

table, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
}

#result-sign {
    margin-top: 20px;
}